<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Treinamento Spring Boot</title>
	<meta charset="UTF-8" />
	<link rel="icon" th:href="@{/img/favicon.png}" />
</head>
<body>
<span th:text="${msg}" />
</body>
</html>