<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Treinamento Spring Boot</title>
<meta charset="UTF-8" />
<link rel="icon" th:href="@{/img/favicon.png}"/>
<script type="text/javascript">
function voltar(url) {
	window.location = url;
}
</script>
</head>
<body>
	<form th:object="${pessoa}" action="/pessoa/acao " method="post">
		<p>
			Id: <input name="id" th:field="*{id}"/> 
		</p>
		<p>
			Nome: <input name="nome" th:field="*{nome}"/> 
		</p>
		<p>
			Sobrenome: <input name="sobrenome"  th:field="*{sobrenome}"/> 
		</p>
		<p>
			Data de Nascimento: <input  name="dataNascimento"  th:field="*{dataNascimento}"/> 
		</p>
		<input type="button" value="Voltar" onclick="'voltar('/pessoa/pesquisar')" />
		<input type="submit" value="Salvar" />
	</form>
</body>
</html>