<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<title>Treinamento Spring Boot</title>
<meta charset="UTF-8" />
<link rel="icon" href="/img/favicon.png" />
</head>
<body>
	<span> Total de registros apresentados: <span th:text="${#lists.size(pessoas)}" /> </span>
	Resultado Operação: Sucesso
	<p>
		<form name="pesquisa" action="/pessoa/pesquisar" method="post">
			<span>Nome: <input type="text" name="search" /></span>
			<span><input type="submit" name="acao" value="Pesquisar" /></span>
		<form>
	</p>
	<p><a href="/pessoa/pre-incluir">Incluir</a></p>
	<table border="1">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Sobrenome</th>
				<th>Data de Nascimento</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="pessoa : ${pessoas}">
				<td th:text="${pessoa.id}">1</td>
				<td th:text="${pessoa.nome}">Teste</td>
				<td th:text="${pessoa.sobrenome}">Sobrenome</td>
				<td th:text="${pessoa.dataNascimento}">01/01/2010</td>
				<td><a th:href="@{/pessoa/detalhar/} + ${pessoa.id}"><img width="30" height="30" src="/img/detail.ico" /></a>&nbsp;
				    <a href="@{/pessoa/pre-alterar/} + ${pessoa.id}"><img width="30" height="30" src="/img/update.png" /></a>&nbsp;
				    <a href="@{/pessoa/excluir/} + ${pessoa.id}"><img width="30" height="30" src="/img/delete.png" /></a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>