<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Treinamento Spring Boot</title>
<meta charset="UTF-8" />
<link rel="icon" th:href="@{/img/favicon.png}" />
<script type="text/javascript">
function voltar(url) {
	window.location = url;
}
</script>
</head>
<body>
	<form th:object="${pessoa}" th:action="@{/pessoa/} + ${acao} " method="post">
		<p>
			Id: <input th:readonly="${#strings.contains(#httpServletRequest.requestURI,'detalhar')}" th:field="*{id}" /> 
		</p>
		<p>
			Nome: <input th:readonly="${#strings.contains(#httpServletRequest.requestURI,'detalhar')}" th:field="*{nome}" /> 
		</p>
		<p>
			Sobrenome: <input th:readonly="${#strings.contains(#httpServletRequest.requestURI,'detalhar')}" th:field="*{sobrenome}" /> 
		</p>
		<p>
			Data de Nascimento: <input  th:readonly="${#strings.contains(#httpServletRequest.requestURI,'detalhar')}" th:field="*{dataNascimento}" /> 
		</p>
		<input type="button" value="Voltar" th:onclick="'voltar(\'' + @{/pessoa/pesquisar} + '\')'" />
		<div th:if="${!#strings.contains(#httpServletRequest.requestURI,'detalhar')}" th:remove="tag">
			<input type="submit" value="Salvar" />
		</div> 
	</form>
</body>
</html>