<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Treinamento Spring Boot</title>
<meta charset="UTF-8" />
<link rel="icon" th:href="@{/img/favicon.png}" />
</head>
<body>
	<span> Total de registros apresentados: <span th:text="${#lists.size(pessoas)}" /> </span>
	<div th:if="${msg != null}">
		Resultado Operação: <span th:text="${msg}" />
	</div>
	<p>
		<form name="pesquisa" th:action="@{/pessoa/pesquisar}" method="post">
			<span>Nome: <input type="text" name="search" th:value="${param?.search}" /></span>
			<span><input type="submit" name="acao" value="Pesquisar" /></span>
		<form>
	</p>
	<p><a th:href="@{/pessoa/pre-incluir}">Incluir</a></p>
	<table border="1">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Sobrenome</th>
				<th>Data de Nascimento</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="pessoa : ${pessoas}">
				<td th:text="${pessoa.id}">1</td>
				<td th:text="${pessoa.nome}">Teste</td>
				<td th:text="${pessoa.sobrenome}">SobreTeste</td>
				<td th:text="${#dates.format(pessoa.dataNascimento, 'dd/MM/yyyy HH:mm:ss')}">01/01/2010</td>
				<td><a th:href="@{/pessoa/detalhar/} + ${pessoa.id}"><img width="30" height="30" th:src="@{/img/detail.ico}" /></a>&nbsp;
				    <a th:href="@{/pessoa/pre-alterar/} + ${pessoa.id}"><img width="30" height="30" th:src="@{/img/update.png}" /></a>&nbsp;
				    <a th:href="@{/pessoa/excluir/} + ${pessoa.id}"><img width="30" height="30" th:src="@{/img/delete.png}" /></a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>