<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Treinamento Spring Boot</title>
<meta charset="UTF-8" />
<link rel="icon" th:href="@{/img/favicon.png}" />
</head>
<body>
	<header th:replace="/geral.html :: titulo"> 
		<h1>Titulo do exercicio - Teste do Layout</h1>
	</header>
	<section layout:fragment="content">
		<p>O conteúdo será colocado aqui</p>
	</section>
	<footer th:replace="/geral.html :: rodape">
		<p>Skalena old-fashion</p>
	</footer>
</body>
</html>