<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Treinamento Spring Boot</title>
<meta charset="UTF-8" />
<link rel="icon" th:href="/img/favicon.png"/>
<script type="text/javascript">
function voltar(url) {
	window.location = url;
}
</script>
</head>
<body>
	<form action="/pessoa/acao " method="post">
		<p>
			Id: <input name="id"/> 
		</p>
		<p>
			Nome: <input name="nome"/> 
		</p>
		<p>
			Sobrenome: <input name="sobrenome"/> 
		</p>
		<p>
			Data de Nascimento: <input  name="dataNascimento"/> 
		</p>
		<input type="button" value="Voltar" onclick="'voltar('/pessoa/pesquisar')" />
		<input type="submit" value="Salvar" />
	</form>
</body>
</html>